*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
COLORI:
Azzurro tasti: #0061FF
Azzurro sfondo: #B4D0E7
Sfondo Footer: #000000
*/

body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
    color: black;
}

/* Titoli */

h1{
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 60px;
}
h2{
    font-size: 45px;
    margin-bottom: 50px;
}
h3{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
h4{
    font-weight: bold;
}

/* Margini */

.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-100{
    margin-bottom: 100px;
}

ul{
    list-style-type: none;
}

/* SEZIONE HEADER */

header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 30px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#t-l-menu, #t-r-menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
}

header a{
    text-decoration: none;
    color: currentColor;
}

#t-l-menu li, #t-r-menu li, #t-r-menu .blue-but{
    margin-left: 40px;
}

.blue-but, .white-but{
    text-decoration: none;
    display: inline-block;
}

.blue-but{
    color: white;
    background-color: #0061FF;
    padding: 8px 12px;
}

.white-but{
    padding: 8px 12px;
    color: black;
    background-color: #fff;
    border: 1px solid black;
}

.blue-but, .white-but:hover{
    font-weight: bold;
}

/* SEZIONE "INTRO TUTTO CIO' CHE TI SERVE" */

.large-container{
    background-color: #B4D0E7;
    height: 850px;
    width: 100%;
    padding-top: 80px;
    margin-bottom: 200px;
}

.central-container{
    width: 1200px;
    margin: 0 auto;
}

#start-container{
    width: 1400px;
    margin: 0 auto;
}

img{
    display: block;
    width: 100%;
}

#intro{
    display: flex;
    justify-content: space-between;
}


#col-l{
    width: 25%;
}

#col-r{
    width: 75%;
}

#arrow{
    position: absolute;
    bottom: 20px;
    font-size: 50px;
}

.fa-solid{
    color: black;
}


/* SEZIONE "PIANI BUSINESS" */

#pricing-choice{
    display: flex;
    margin-bottom: 50px;
}

#pricing-choice li{
    margin-right: 50px;
}

.circle{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    vertical-align: middle;
}

#monthly{
    border: 5px solid royalblue;
}

#yearly{
    border: 2px solid lightgrey;
}



#pricing-profiles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.column{
    width: 30%;
    border: 1px solid lightgrey;
    font-size: 18px;
}

.column, .profile{
    border-bottom: 1px solid lightgrey;
}

.profile{
    text-align: center;
    line-height: 40px;
}

.profile-details{
    padding: 30px 25px;
}

.user-features li{
    display: flex;
    align-items: baseline;
}

.user-features p{
    padding-left: 5px;
}

.profile-details .blue-but{
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    font-size: 20px;
}

hr{
    color: lightgrey;
}

.profile-details hr{
    width: 60px;
}

.fa-check{
    color: #0061FF;
}

.sales-team{
    border: 1px solid lightgrey;
    margin-bottom: 150px;
}

.sales-team .profile{
    border-bottom: 1px solid lightgrey;
}

.sales-contact-container{
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
}

.left-section{
    width: 65%;
}

.right-section{
    width: 30%;
}

.right-section .blue-but{
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    font-size: 20px;
}

/* SEZIONE "TROVA PARTNER DROPBOX" */

.partners{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.partners .right-section{
    padding-top: 50px;
}

.partners p{
    font-size: 20px;
}

/* SEZIONE "SCOPRI I NOSTRI CLIENTI" */

#discover-clients{
    margin-top: 150px;
    margin-bottom: 150px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 30%;
}

.card p{
    font-size: 18px;
}

/* SEZIONE LOGHI CLIENTI */

/* QUADRATI:
Designit: #A2D39B
Designit bordo: #D1E9CD
ASU: #61082B
UF Florida: #0093CE
Topps: #FF1C1C
World Bycycle Relief: #D5001F
Hearst: #B4D0E7
Lonely Planet: #0D2481
Clear Channel: #FFD830 */

.top-customers{
    width: 100vw;
    max-height: calc(100vw / 3);
    display: flex;
    
}

.central-square, .tags-container{
    width: calc(100vw / 3);
}

.tags-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.client-tag{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    position: relative;
}

.client-tag img{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    filter: invert(1);
}
#designit{
    background-color: #D1E9CD;
    padding: 15px;
}

#designit-int{
    width: 100%;
    height: 100%;
    background-color: #A2D39B;
}

#asu{
    background-color: #61082B;
}

#uni-florida{
    background-color: #0093CE;
}

#topps{
    background-color: #FF1C1C;
}

.central-square{
    padding: 50px;
    background-color: #F5F5F5;
}

.central-square img{
    width: 300px;
}

.central-square hr{
    border: 1px solid grey;
    width: 100px;
}

#wb-relief{
    background-color: #D5001F;
}

#hearst{
    background-color: #B4D0E7;
}

#lonely-planet{
    background-color: #0D2481;
}

#clear-channel{
    background-color: #FFD830;
}

/* SEZIONE "PORTA DROPBOX NELLA TUA AZIENDA" */

.xl-btm-container{
    width: 100vw;
    padding: 150px 0;
    background-color: #B4D0E7;
    margin-bottom: 150px;
}

.xl-btm-container > .central-container{
    display: flex;
    justify-content: space-between;                                                                                                                                                                                                                                  ; */
}

.xl-btm-container .left-section{
    width: 60%;
}

.xl-btm-container .right-section{
    text-align: right;
}

.xl-btm-container h2{
    margin-bottom: 0;
}

.xl-btm-container a.white-but{
    border: 0;
    display: inline-block;
}

/* SEZIONE FAQ */

.faq .d-flex{
    display: flex;
    justify-content: space-between;
}

.hidden-answer{
    display: none;
    padding-top: 10px;
}

.faq:hover .fa-angle-down{
    transform: rotate(180deg);
}

.faq:hover .hidden-answer{
    display: block;
}

#faq{
    margin-bottom: 200px;
}

/* FOOTER */

footer{
    background-color: black;
    width: 100%;
    color: #fff;
    padding: 120px 0;
}

#company-details{
    width: 1400px;
    margin: 0 auto;
}

.footer-lists{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.footer-list{
    width: 13%;
}

.footer-list h4{
    font-size: 28px;
}

.footer-list li{
    margin-bottom: 12px;
    font-size: 18px;
}

.footer-list a{
    text-decoration: none;
    color: white;
}

#company-details hr{
    width: 120px;
}

#language{
    display: flex;
    align-items: center;
    color: grey;
}

.fa-earth-europe, .fa-caret-up{
    color: grey;
}

#language p{
    margin: 0 5px;
}