*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
COLORI:
Azzurro tasti: #0061FF
Azzurro sfondo: #B4D0E7
Sfondo Footer: #000000

QUADRATI:
Designit: #A2D39B
ASU: #61082B
UF Florida: #0093CE
Topps: #0093CE
World Bycycle Relief: #D5001F
Hearst: #B4D0E7
Lonely Planet: #0D2481
Clear Channel: #FFD830
*/


body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
    color: black;
}

header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 30px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#t-l-menu, #t-r-menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    list-style-type: none;
    display: flex;
}

header a{
    text-decoration: none;
    color: currentColor;
}

#t-l-menu li{
    margin-left: 40px;
}

#t-r-menu li{
    margin-left: 40px;
}

.blue-but{
    color: white;
    background-color: #0061FF;
    padding: 8px 12px;
}

.white-but{
    padding: 8px 12px;
}

.large-container{
    background-color: #B4D0E7;
    height: 850px;
    width: 100%;
    padding-top: 80px;
    margin-bottom: 100px;
}

#start-container{
    width: 1400px;
    margin: 0 auto;
}

h1{
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 60px;
}

#intro{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#intro > #col-l{
    width: 25%;
}

#intro > #col-r{
    width: 75%;
}

#col-r > img{
    width: 100%;
}

#col-l{
    position: relative;
    
}

#col-l > ul{
    list-style-type: none;
}

#col-l > ul > li{
    margin-bottom: 50px;
}

#col-l .blue-but{
    text-decoration: none;
}

#arrow{
    position: absolute;
    top: 70%;
    font-size: 50px;
}

.fa-solid{
    color: black;
}